@import url(https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.css);
// import bootstrap styles
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";//fix for https://github.com/webpack-contrib/sass-loader/issues/40
@import "colors";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding: 0;
}